#slide {
	width: 600px;
	height: 250px;
	float: left;
	margin-right: 10px;
	position: relative; overflow: hidden;
}
#user-info {
	float: left;
	width: 390px;
}
#slide .hd {
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 5px;
	bottom: 5px;
	z-index: 1;
}
#slide .hd ul {
	overflow: hidden;
	zoom: 1;
	float: left;
}
#slide .hd ul li {
	float: left;
	margin-right: 2px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #FFF;
	cursor: pointer;
	display: inline-block;
}
#slide .hd ul li.on {
	background: #F00;
	color: #FFF;
}
#slide .bd li {
	zoom: 1;
	vertical-align: middle;
}
#slide .bd img {
	width: 100%;
	height: 248px;
	display: block;
}
#user-info {
	height: 250px;
}
#user-info ul li {
	line-height: 40px;
	margin-bottom: 12px;
	padding: 0 27px;
}
#user-info h4 {
	padding: 15px 17px;
}
#user-info ul {
	padding: 10px;
}
#user-info li .button {
	width: 112px;
	height: 40px;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
}
